body {
    background-color: black;
    /* This margin just makes the text easier to read. You can remove it if you want since it can mess with your other styles. */
}

#canvas {
    border: 1px white solid;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
    aspect-ratio: 1 / 1
}

#classify {
    width: 100%;
    background-color: black;
    color: white;
    border: white solid 1px;
    border-radius: 5px;
}

#classify:active {
    background-color: #303030;
}

#undo {
    margin-right: 5%;
    width: 46%;
    background-color: black;
    color: white;
    border: white solid 1px;
    border-radius: 5px;
}

#undo:active {
    background-color: #303030;
}

#clear {
    margin-left: 1%;
    width: 46%;
    background-color: black;
    color: white;
    border: white solid 1px;
    border-radius: 5px;
}

#clear:active {
    background-color: #303030;
}

#best-guess {
    padding-top: 40px;
    text-align: center;
    font-size: 100px;
    color: white;
}

#best-certainty {
    font-family: Montserrat;
    text-align: center;
    color: white;
}

.navbar-brand {
    font-size: 24px;
    font-family: Montserrat;
    font-weight: bold;
}