@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    user-select: none;
}

#classify {
    width: 46%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: black;
    color: white;
    border: white solid 1px;
    border-radius: 5px;
}

#classify-active {
    width: 46%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #303030;
    color: white;
    border: white solid 1px;
    border-radius: 5px;
}

#undo {
    width: 21%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: black;
    color: white;
    border: white solid 1px;
    border-radius: 5px;
}

#undo:active {
    background-color: #303030;
}

#clear {
    width: 21%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: black;
    font-family: "Montserrat", sans-serif;
    color: white;
    border: white solid 1px;
    border-radius: 5px;
}

#clear:active {
    background-color: #303030;
}

#guesses {
    display: block;
    text-decoration: none;
    padding-top: 0px;
    text-align: center;
    font-size: 100px;
    color: white;
    border-radius: 10px;
}

#guesses:hover {
    background-color: #303030;
}

#certainty {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin: 2px;
    color: white;
}

.navbar-brand {
    font-size: 24px;
    font-family: "Montserrat";
    font-weight: bold;
}